@import "src/styles";

.loading-overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    background: url("/assets/images/background-dark.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: zoom 2s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.05);
  }
}