@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8g3cym');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8g3cym#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8g3cym') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8g3cym') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8g3cym##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drag {
  &:before {
    content: $icon-drag; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-question-mark {
  &:before {
    content: $icon-question-mark; 
  }
}
.icon-add {
  &:before {
    content: $icon-add; 
  }
}

