@font-face {
  font-family: 'labo';
  src:  url('fonts/labo.eot?8g3cym');
  src:  url('fonts/labo.eot?8g3cym#iefix') format('embedded-opentype'),
    url('fonts/labo.ttf?8g3cym') format('truetype'),
    url('fonts/labo.woff?8g3cym') format('woff'),
    url('fonts/labo.svg?8g3cym#labo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'labo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drag:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-question-mark:before {
  content: "\e903";
}
.icon-add:before {
  content: "\e904";
}
