<ui-background></ui-background>
<ng-container
    *ngIf="{
        lecturerExercise: (lecturerExercise$ | async),
        exerciseWithSteps: (exerciseWithSteps$ | async),
        tableData: (tableData$ | async)
    } as local"
>
    <div 
        class="exercise-info"
        *ngIf="local.lecturerExercise && local.exerciseWithSteps"
    >
        <ui-header
            [title]="'exercise-info.title'|translate"
            [hasBackButton]="true"
            [actionButtonIcon]="'delete'"
            (backButtonIsClicked)="navigateToHome()"
            (actionButtonIsClicked)="deleteExerciseWithSteps()"
        ></ui-header>
        <h2>
            {{'exercise-create-steps.exercise-info' | translate}}
        </h2>        
        <span>{{'exercise-create-steps.exercise' | translate}}: <b>{{local.lecturerExercise.name}}</b> </span>
        <span>{{'exercise-create-steps.course' | translate}}: <b>{{local.lecturerExercise.coursefullname}}</b> </span>
        <span class="last-span">{{'home.submission-until' | translate}} {{local.lecturerExercise.duedate*1000 | date: 'dd.MM.yyyy'}} {{'home.submission-at'|translate}} {{local.lecturerExercise.duedate*1000  | date: 'hh:mm'}} {{'home.submission-clock'|translate}}.</span>
        <h2>
            {{'exercise-info.steps-overview' | translate}}
        </h2>
        <table class="exercise-info-table">
            <thead>
              <tr>
                <th class="th-name">{{'exercise-info.participant'|translate}}</th>
                <ng-container *ngFor="let step of local.exerciseWithSteps.steps; index as i;">
                    <th><span>{{'exercise-create-steps.step'|translate}} {{i+1}}:</span><br/>{{step.name}}</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let tableEntry of local.tableData">
                    <tr>
                        <th>{{tableEntry.participant.firstname}} {{tableEntry.participant.lastname}}</th>
                        <ng-container *ngFor="let exerciseStepStatus of tableEntry.exerciseStepStatuses">
                            <td
                                [class.done]="exerciseStepStatus.status === ExerciseStepStatus.DONE"
                                [class.doing]="exerciseStepStatus.status === ExerciseStepStatus.DOING"
                                [class.todo]="exerciseStepStatus.status === ExerciseStepStatus.TODO"
                                [class.problem]="exerciseStepStatus.status === ExerciseStepStatus.PROBLEM"
                            >{{exerciseStepStatus.status}}</td>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
          </table>
          
    </div>

</ng-container>

<ui-loading-overlay
    *ngIf="loading$ | async"
></ui-loading-overlay>