@import "src/styles";

.divider{
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-dark-blue;

    .divider-info{
        padding-top: 12px;
        padding-bottom: 12px;

        .info-top{
            font-size: 8px;
            font-weight: bold;
            color: $color-grey-fourty;
            margin-bottom: 4px;
        }

        .info-middle{
            font-size: 16px;
            color: $color-dark-blue;
            font-weight: bold;
        }

        .info-bottom{
            font-size: 12px;
            color: $color-grey-sixty;
            font-weight: bold;
        }
    }

    .divider-icon{
        font-size: 24px;
        margin-left: auto;
        font-weight: bolder;
    }    

    &.clickable{
        cursor: pointer;

        &:hover, &:focus-visible{
            background-color: rgba($color-teal, 0.1);
        }
    }

    &.done{
        background-color: rgba($color-teal, 0.1);

        &:hover, &:focus-visible{
            background-color: rgba($color-teal, 0.2);
        }

        .divider-info{
            .info-bottom{
                color: $color-teal;
            }
        }
    }

    &.doing{
        background-color: rgba($color-soft-blue, 0.2);

        &:hover, &:focus-visible{
            background-color: rgba($color-soft-blue, 0.3);
        }
    }

    &.todo{
        background-color: rgba($color-black, 0.1);

        &:hover, &:focus-visible{
            background-color: rgba($color-black, 0.2);
        }
    }

    &.problem{
        background-color: rgba($color-error, 0.1);

        &:hover, &:focus-visible{
            background-color: rgba($color-error, 0.2);
        }

        .divider-info{
            .info-bottom{
                color: $color-error;
            }
        }
    }

    &.selectable{
        background-color: transparent;
    }

    &.done{
        &.selected{
            background-color: $color-teal;
            .divider-info{
                .info-top{
                    color: $color-white;
                }
        
                .info-middle{
                    color: $color-white;
                }
        
                .info-bottom{
                    color: $color-white;
                }
            }
        }        
    }

    &.doing{
        &.selected{
            background-color: $color-soft-blue;
        }        
    }

    &.todo{
        &.selected{
            background-color: $color-black;
            .divider-info{
                .info-top{
                    color: $color-white;
                }
        
                .info-middle{
                    color: $color-white;
                }
        
                .info-bottom{
                    color: $color-white;
                }
            }
        }
    } 
    &.problem{
        &.selected{
            background-color: $color-error;
            .divider-info{
                .info-top{
                    color: $color-white;
                }
        
                .info-middle{
                    color: $color-white;
                }
        
                .info-bottom{
                    color: $color-white;
                }
            }
        }
    } 
}

