<button 
    class="divider" 
    [class.clickable]="clickable"
    [class.done]="status === ExerciseStepStatus.DONE"
    [class.doing]="status === ExerciseStepStatus.DOING"
    [class.todo]="status === ExerciseStepStatus.TODO"
    [class.problem]="status === ExerciseStepStatus.PROBLEM"
    [class.selected]="selected"
    [class.selectable]="selectable"
    (click)="clicked()"
>
    <div class="divider-info">
        <div class="info-top">
            {{topInfoText}}
        </div>
        <div class="info-middle">
            {{centerInfoText}}
        </div>
        <div class="info-bottom">
            <ng-container *ngIf="!status">
                {{bottomInfoText}}
            </ng-container>
            <ng-container *ngIf="status && !selectable">
                {{status}}
            </ng-container>
        </div>    
    </div>
    <i 
        *ngIf="icon" 
        class="divider-icon icon-delete" 
        [class]="'icon-' + icon"
    ></i>
</button>
