@import "src/styles";

:host {
    display: block;
    max-width: 100%;
}

.input-label{
    font-size: 16px;
    margin-bottom: 8px;
    color: $color-dark-blue;

    &.error{
        color: $color-error;
    }
}

.input{
    font-size: 16px;
    padding: 8px;
    background-color: $color-soft-blue;
    border: 2px solid transparent;
    box-sizing: border-box;
    width: 100%;
    color: $color-dark-blue;

    &.error{
        border: 2px solid $color-error;
    }

    &:focus {
        outline: none !important;
        border: 2px solid $color-teal;
    }
}