@import "src/styles";

:host {
    display: block;
    max-width: 100%;
}

.input-label{
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 4px;
    color: $color-dark-blue;

    &.error{
        color: $color-error;
    }
}

.input{
    font-size: 12px;
    padding: 8px;
    background-color: $color-white;
    border:none;
    border-bottom: 1px solid $color-grey-thirty;
    box-sizing: border-box;
    width: 100%;
    color: $color-dark-blue;

    &.error{
        border-bottom: 1px solid $color-error;
    }

    &:focus {
        outline: none !important;
        border-bottom: 1px solid $color-teal;
    }
}