@import "src/styles";

:host{
    display: flex;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover, &:focus-visible{
        i{
            color: $color-teal;
        }
    }

    i{
        font-size: 24px;
        font-weight: bolder;
    }
}

.back-button{
    margin-right: 16px;
}

.action-button{
    margin-left: auto;
    padding-left: 16px;
}

.user-button{
    margin-left: auto;
    padding-left: 16px;

    img {
        border-radius: 50%;
        height: 24px;
        border: 1px solid transparent;
    }

    &:hover, &:focus-visible{
        img{
            border: 1px solid $color-teal;
        }
    }
}