@import "src/styles";

.settings-and-support{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;

    h2{
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .language-selection{
        display: flex;

        .lang-de{
            margin-right: 16px;
        }
    }
    span{
        display: block;
        margin-bottom: 16px;
    }
}