<ng-container
    *ngIf="{
        error: (error$ | async),
        loading: (loading$ | async)
    } as local"
>
    <img 
        src="assets/images/htwg-logo.png"
        class="login-htwg-logo"
        alt="htwg logo"
    />
    <img 
        src="assets/images/background-2.png"
        class="login-background"
        alt="login background"
    />
    <ui-header
        class="login-title"
        [title]="'login.title' | translate"
        [actionButtonIcon]="'question-mark'"
        (actionButtonIsClicked)="navigateToFaqs()"
    ></ui-header>
    <p class="login-text">
        {{'login.text' | translate}}
    </p>
    <ui-input
        [label]="'login.username' | translate"
        [error]="local.error? local.error : false"
        (value)="usernameChanged($event)"
    ></ui-input>
    <ui-input
        [label]="'login.password' | translate"
        [password]="true"
        [error]="local.error? local.error : false"
        (value)="passwordChanged($event)"
    ></ui-input>
    <a 
        href="https://www.htwg-konstanz.de/rz/dienste/benutzerverwaltung/"
        target="_blank" 
        rel="noopener noreferrer"
    >
        {{'login.forgot-pw' | translate}}
    </a>
    <ui-button
        [text]="'login.login-button' | translate"
        (isClicked)="login()"
    ></ui-button>   
    <ui-loading-overlay *ngIf="local.loading">
    </ui-loading-overlay>
</ng-container>